@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.8333333333vw;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 1.6666666667vw;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 2.5641025641vw;
  }
}

body {
  font-size: 1.6rem;
  font-family: YakuHanJP, "Roboto", "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: url(../img/wall-2933017_640.jpg) left top repeat;
  background-attachment: fixed;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
}

.apllyBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #623F2A;
  border: 0.2rem solid #623F2A;
  color: #623F2A;
  padding: 1rem 0;
  font-weight: bold;
  border-radius: 100vh;
  background: #FDD84B;
  transition: 0.3s;
}
.apllyBtn:hover {
  transform: scale(1.1);
}
.apllyBtn.is-second {
  background: #E8E6D9;
}

/* ===================================================
particles-js
=================================================== */
#particles-js {
  position: fixed; /*描画固定*/
  z-index: -1; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/* ===================================================
splitHdr
=================================================== */
.splitHdr {
  background: #F9F6F1;
  width: 40%;
  padding: 5rem 3rem;
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  border-radius: 1rem;
  border: 0.2rem solid #623F2A;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 900px) {
  .splitHdr {
    width: 100%;
    position: fixed;
    top: 100%;
    left: 0;
    transform: translateY(-10%);
    padding: 2rem;
    transition: 0.3s;
  }
  .splitHdr.is-active {
    transform: translateY(-100%);
  }
  .splitHdr.is-active .splitHdrSpBtn::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.splitHdrSpBtn {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 6rem;
  height: 3rem;
  background: #FDD84B;
  transform: translateY(-100%);
  border: 0.2rem solid #623F2A;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
}
.splitHdrSpBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 1.5rem solid rgba(0, 0, 0, 0);
  border-right: 1.5rem solid rgba(0, 0, 0, 0);
  border-bottom: 1.5rem solid #623F2A;
}

.splitHdr_logo {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .splitHdr_logo {
    display: none;
  }
}

.splitHdrNav {
  margin-top: 3rem;
}
@media screen and (max-width: 900px) {
  .splitHdrNav {
    margin-top: 0;
  }
}
.splitHdrNav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.splitHdrNav li {
  width: calc((100% - 2rem) / 3);
}
.splitHdrNav li:nth-child(n+4) {
  width: calc((100% - 1rem) / 2);
}

/* ===================================================
splitContents
=================================================== */
.splitContents {
  width: 45%;
  margin-left: auto;
  margin-right: 5%;
  background: #F9F6F1;
  border-left: 1rem solid #623F2A;
  border-right: 1rem solid #623F2A;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 900px) {
  .splitContents {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .splitContents {
    width: 100%;
    border-left: none;
    border-right: none;
  }
}

/* ===================================================
splitMain
=================================================== */
.splitMain {
  padding: 2rem 0;
}

/* ===================================================
mv
=================================================== */
.mv {
  padding: 4rem 2rem 2rem;
}
@media screen and (min-width: 901px) {
  .mv {
    display: none;
  }
}

.mvText {
  text-align: center;
}
.mvText img {
  width: 60%;
}

/* ===================================================
splitSec
=================================================== */
.splitSec {
  padding: 4rem 2rem;
}
.splitSec + .splitSec {
  border-top: 0.2rem dotted #623F2A;
}
.splitSec .apllyBtn {
  width: 80%;
  font-size: 2rem;
  margin: 0 auto;
}
.splitSec .apllyBtn.is-second {
  font-size: 1.8rem;
  width: 70%;
}

.splitSecTtl {
  font-size: 3rem;
  text-align: center;
  color: #623F2A;
}

.splitSecBlk {
  margin-top: 2rem;
}

.sec01img {
  background: linear-gradient(#F7DCDE, #F4E7A1);
  padding: 3rem 5rem;
  border-radius: 0 30%;
}

/* ===================================================
splitFtr
=================================================== */
.splitFtr {
  background: #E8E6D9;
  color: #623F2A;
  padding: 2rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */