$transparent: rgba(0, 0, 0, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1200 * 10);

  @media screen and (max-width: 900px) {
    font-size: calc(100vw / 600 * 10);
  }

  @media screen and (max-width: 600px) {
    font-size: calc(100vw / 390 * 10);
  }
}

body {
  font-size: 1.6rem;
  font-family: YakuHanJP, 'Roboto', "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-attachment: fixed;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
}

.inner {
  max-width: 800px;
  margin: 100px auto;
}

.btn01 {
  display: block;
  width: 100%;
  max-width: 400px;
  border: .1rem solid #333;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  position: relative;
}

.btn01Label {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  color: #fff;
  text-align: left;
  background: linear-gradient(154deg, #333 50%, $transparent 50%);
  width: 10rem;
  height: 5rem;
  padding: .5rem 0 0 .5rem;
  letter-spacing: -.1em;
}

.btn01Text {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btn01Text_icon {
  height: 3rem;

  img {
    height: 100%;
  }
}

.btn01Label_num {
  font-size: 1.6rem;
  font-weight: bold;
}